# git ignore file


**/gaussians/*
**/results/**
**/res_*/**
**/img/*
*.ipynb_checkpoints*
*__pycache__
*.npz
*.pth

**/data/*
!**/data/ilsvrc_2012_test

**code-workspace*

**poetry.lock
**pyproject.toml
